@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: 0.5s ease;

}

header .main {
    color: darkorange;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;

}

header .navigation .navigation-items a {
    position: relative;
    color: #ff8c00;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}


header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background-color: darkorange;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;


}

header .navigation .navigation-items a:hover:before {
    width: 100%;




}

section {
    padding: 100px 200px;

}

.hakkimda {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: #7fffd4;


}

.sehir {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: #7fffd4;


}

  



.hakkimda .content h1 {

    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
    color: #ff8c00;
}





.sehir .content h1 {

    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
    color: #ff8c00;
}


.sehir .content h1 {

    font-size: 1.2em;
    font-weight: 900;
    color: #4000ff;
    font-size: large;

}

.sehir .content p {
    margin-bottom: 65px;

}


.userdetails {
    padding: 80px;
    line-height: 3em;
    text-decoration: double;
    font-size: 200%;
    background-color: #539165;
    color: #ff8c00;
    border-radius: 50px;
    

}
#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background-image: url(./media/boztepe2.jpg);

 }
 #slides .slide_2 {
    background-image: url(./media/ulugol2.jpg);
 }
 #slides .slide_3 {
    background-image: url(./media/yason2.jpg);
 }
 
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(1) {
    background: url(./media/right-arrow.png) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(1) {
    background: url(./media/left.png) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }





@media (max-width: 1040px) {

    header {
        padding: 12px 20px;

    }

    section {
        padding: 100px 20px;
    }

    header .navigation {
        display: none;

    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        display: flex;
        height: 100vh;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #675b5b;

    }

    header .navigation .navigation-items a {
        color: #ff8c00;
        font-size: 1.2em;


    }

    header .navigation .navigation-items a:before {
        background: #ff8c00;
        height: 5px;


    }

    header .navigation.active .navigation-items {
        background: #000000;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1/20%);



    }

    .menu-btn {
        background: url(media/menuicon.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;



    }

    .menu-btn.active {

        z-index: 999;
        background: url(media/cancel.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;

    }

}